.footer__copyright {
  margin: 0;
  font-family:"Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #545454;
}

@media screen and (min-width: 955px) {
  .footer__copyright {
      margin: 67px 0 60px 0;
      width: calc(100% * 880 / 1280);
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
  }
}
  