.popup__item {
  width: 358px;
  margin: 40px auto 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 13px 0;
}
    
.popup__item:last-of-type {
  margin: 30px auto 0 auto;
}
  
.popup__item:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}


@media screen and (max-width: 768px) {
  .popup__item {
    width: 238px;
    margin: 75px auto 0 auto;
  }
}